.academics div {
  margin-bottom: calc(1.5rem + 0.8vw);
}

.academics__intro .description {
  color: #616161;
  text-align: center;
}

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.feature {
  position: relative;
  color: #5a5a5a;
  width: 300px;
  background: #e7e7e087;
  margin: 6px 15px;
  padding: 28px 15px;
  border-radius: 9px;
}

.feature i {
  font-size: 3rem;
  position: relative;
  margin-bottom: .4em;
  color: #001219;
}

.feature h2 {
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #001219;
}

.feature p {
  margin-top: 18px;
  padding: 0 12px;
  font-size: 0.98rem;
  opacity: 0.8;
  line-height: 1.7rem;
}