
.alumni__testimonies .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.alumni__testimonies .wrapper .container {
  position: relative;
  width: 350px;
  color: #fff;
  background: #222;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 9px;
  transition: .3s ease;
}

.alumni__testimonies .wrapper .container .profile {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
  
}

.alumni__testimonies .wrapper .container .profile .imgBox {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 8px solid #070c0d;
}

.alumni__testimonies .wrapper .container .profile .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .3s ease;
  object-fit: cover;
}

.alumni__testimonies .wrapper .container .profile .imgBox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}

.alumni__testimonies .wrapper .container .profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.alumni__testimonies .wrapper .container p {
  margin-top: 50px;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}

.alumni__testimonies .wrapper .container .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #3b7cf5;
}

.alumni__testimonies .wrapper .container .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #3b7cf5;
}
